<style type="text/css">
    .attribute-class-title {font-weight: bold; width: 13vw; font-size: }
    .attribute-name {width: min-content; padding-left: 0.5vw;}
    .dot-score {float: right; padding-right: 0.5vw;}
    .separator {align-self: start; width: 5px;}
    .filler {width: auto;}
</style>

<table>
<thead>
  <tr>
    <th class="attribute-class-title">Physical</th>
    <th class="attribute-class-title">Social<br></th>
    <th class="attribute-class-title">Mental</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class=""><span class="attribute-name">Strength</span><span class="dot-score">⚫⚪⚪⚪⚪</span></td>
    <td class=""><span class="attribute-name">Charisma</span><span class="dot-score">⚫⚪⚪⚪⚪</span></td>
    <td class=""><span class="attribute-name">Intelligence</span><span class="dot-score">⚫⚪⚪⚪⚪</span></td>
  </tr>
  <tr>
    <td class=""><span class="attribute-name">Dexterity</span><span class="dot-score">⚫⚪⚪⚪⚪</span></td>
    <td class=""><span class="attribute-name">Manipulation</span><span class="dot-score">⚫⚪⚪⚪⚪</span></td>
    <td class=""><span class="attribute-name">Wits</span><span class="dot-score">⚫⚪⚪⚪⚪</span></td>
  </tr>
  <tr>
    <td class=""><span class="attribute-name">Stamina</span><span class="dot-score">⚫⚪⚪⚪⚪</span></td>
    <td class=""><span class="attribute-name">Appearance</span><span class="dot-score">⚫⚪⚪⚪⚪</span></td>
    <td class=""><span class="attribute-name">Perception</span><span class="dot-score">⚫⚪⚪⚪⚪</span></td>
  </tr>
</tbody>
</table>